

.container{
    display: flex; 
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-evenly;
    border-radius: 10px;
}

.item{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4) ;
    background-color: #b2a9ae;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.button{
    color: #fff;
}