.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    height: auto;
    width: calc(25% - 10px);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: white;
    transition: transform 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    align-items: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h4 {
    margin-top: 10px;
}

.view-more-btn {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    background-color: rgb(152, 82, 150);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
}

