nav{
  margin: 0px;
}

.nav_list{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  padding:0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  top: 0%;
  margin-top: 0px;
  height: 65px;
  width: 100%;
}

.nav_list li{
  height: 65px;
  max-height: 100%;
}

.nav_list li a, .mybasket a, .mybasket p, .basketbutton a{
  display: block;
  color: rgb(152, 82, 150);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav_list>li a:hover, .dropdownbasket:hover .mybasket{
  background-color: rgb(227, 224, 227);
}

.dropdownbasket {
  position: relative;
  display: inline-block;
}

.mybasket {
  display: none;
  width: 30%;
  height: auto;
  left: 65%;
  flex-flow: column nowrap;
  position: absolute;
  background-color: #f1f1f1;
  color: rgb(51, 0, 51);
  border-style: solid;
  border-width: 2px;
  border-color: darkmagenta;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mybasket a, .mybasket p , .mybasket strong{
  float: none;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
}

.basketitemcontainer{
  padding: 10px;
  border-style: solid;
  border-width: 2px 0px;
  border-color:rgb(51, 0, 51);
}

.basketitemnumbers {
  width: 50%;
}

.basketiteminfo{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.basketiteminfo a{
  height: 100%;
  width: 100%;
}

#basketcontainer:hover .mybasket {
  display: block;
}

.mybasket strong{
  font-size: 25px;
}

.mybasket p {
  width: auto;
}

.mybasket img{
  max-width: 70%;
  height: 60%;
  padding-left: 1%;
  padding-right: 10%;
}
.nav_list li a, .myaccount a, .accountbutton a{
  display: block;
  color: rgb(152, 82, 150);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav_list>li a:hover, .dropdownaccount:hover .myaccount{
  background-color: rgb(227, 224, 227);
}

.dropdownaccount {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
 

}


.myaccount {
  display: none;
  width: 15%;
  height: 20%;
  position: absolute;
  border-width: 2px;
  left: 85%;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2px 0px;
  border-color:rgb(51, 0, 51)  ;
  border-left: 2px solid black; 
  border-right: 2px solid black; 
  box-sizing: border-box;
}

.myaccount .accountcustomer {
  border-bottom: 2px solid black; 

}

/*border-style: solid;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
*/

.myaccount a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

/*.myaccount li {
  float: none;
  color: black;
  display: block ;
  text-decoration: none;
  padding: 2px 6px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  
}
*/

#accountcontainer:hover .myaccount {
  display: block;
}