/* Styling all UI components*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

h1 {
    padding: 16px;
    text-align: center;
}

/* Float four columns side-by-side */
.column {
    float: left;
    width: 30%;
}

/* Clear floats after the columns*/
.row:after {
    content: "";
    clear: both;
}

/* Style the counter cards */
.card {
    padding: 16px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

img.phone_image {
    width: 75%;
}

p.price {
    color: blue;
     font-size: 36px;
}

p {
    font-size: 16px;
}

#tickbox, #cross, #exclamation {
    margin-right: 5px;
}

#tickbox {
    color: rgb(2, 161, 2);
}

#cross {
    color: red;
}

#exclamation {
    color: orangered;
}

.collapsible {
    background-color: rgb(152, 82, 150);
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, .collapsible:hover {
    background-color: blueviolet;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Add to basket container specific features*/
#addtobasketdiv{
    background-color: rgb(232, 232, 232);
    padding: 10px;
    margin-left: 5%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

#addtobasketdiv form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    padding: 10px;
}

#addtobasketdiv #quantityform{
    width: 20%;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addtobasketdiv #quantity{
    display: block;
    padding: 20px;
}

button.add-to-basket {
    background: rgb(152, 82, 150);
    color: white;
    border: none;   
    font-size: 18px;
    border-radius: 8px;
    width: 40%;
    padding: 20px 4px;
}

button.add-to-basket:hover {
    background: blueviolet;
}
