/* Styling all UI components*/
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

h1.item-name, h1.best-sellers, h1.rate-review {
    padding: 16px;
}

h1.item-name {
    text-align: center;
}

h1.best-sellers {
    text-align: left;
    color: black;
}

/* Float three columns side-by-side */
#phone_image_column, #phone_info_column, #addtobasketdiv {
    float: left;
    width: 30%;
}

#best_sellers_column {
    float: left;
}

/* Clear floats after the columns*/
div.row:after {
    content: "";
    clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

img.phone_image {
    width: 75%;
    transform: translate(5%, 8%);
}

p {
    font-size: 16px;
}

p.price {
    color: blue;
    font-size: 36px;
}

#tickbox, #cross, #warning, #warning1, #more_prompt {
    margin-right: 5px;
}

#tickbox {
    color: rgb(2, 161, 2);
}

#cross {
    color: red;
}

#warning {
    color: orangered;
}

#warning1 {
    color: rgba(255, 0, 0, 0.644);
}

#more_prompt {
    color: crimson;
}

.collapsible {
    background-color: rgb(152, 82, 150);
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, button.collapsible:hover {
    background-color: blueviolet;
}

button.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

div.content {
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

/* Add to basket container specific features*/
#addtobasketdiv{
    background-color: rgb(232, 232, 232);
    padding: 10px;
    margin-left: 5%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    transform: translateY(20%);
}

#addtobasketdiv form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    padding: 10px;
}

#addtobasketdiv #quantityform{
    width: 20%;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addtobasketdiv #quantity{
    display: block;
    padding: 20px;
}

button.add-to-basket {
    background: rgb(152, 82, 150);
    color: white;
    border: none;   
    font-size: 20px;
    border-radius: 8px;
    width: 40%;
    padding: 20px 4px;
    cursor: pointer;
}

button.add-to-basket:hover {
    background: blueviolet;
}

.best-sellers {
    text-align: center;
    color: rgb(152, 82, 150);
    animation: pulsate 1.5s ease-in-out infinite;;
}